<div class="container-fluid my-2">
    <div class="row">
        <div class="col-md-1">

        </div>

        <div class="col-md-8">
            <div class="addBtn text-center">
                
            </div>
            <div *ngFor="let item of blogList" class="blogCard  m-4">
                <div class="car py-2 " style="width: auto">
                    <div class="card-body">
                        <h5 class="card-title my-3">{{item.name}}</h5>
                        <h6 class="card-text my-3">
                            <fa-icon [icon]="faUser" class="m-2"></fa-icon> {{item.author}}
                        </h6>
                        <p>{{item.content|wordLimitter}} . . . . . . . . </p>
                        <h6>{{item.date|date}}</h6>
                        <button class="btn btn-success float-end" (click)="readMore(item.id)">Read More</button>
                    </div>
                </div>
                <hr class="my-5">
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger float-end" (click)="logout()" *ngIf="userlogged">Logout</button>
            <button class="btn btn-primary" *ngIf="userlogged" (click)="addBlog()">Add Blog</button>
        </div>
    </div>
</div>